/* Переменные */
:root {
   --loader-bg: #fff;
   --loader-place: #3aaa35;
   --bg: #f0f2f5;
   --el-bg: #fff;
   --text: #000;
   --accent: #3aaa35;

   --border-radius: 90px;
   --header-height: 80px;
   --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 10%);
}

/* Медиа-запросы */
@media (max-width: 1800px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}

/* Базовые стили */
html {
   font-size: 14px;
   line-height: normal;
   -webkit-text-size-adjust: 100%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}

@media (max-width: 768px) {
   html {
      font-size: 12px;
   }
}

body {
   background-color: var(--bg);
   color: var(--text);
   font-family: Inter, sans-serif;
   font-weight: 400;
   scrollbar-gutter: stable;
}
.container {
   max-width: 1320px;
   margin: 0 auto;
}
@media (max-width: 1400px) {
   .container {
      max-width: none;
      margin: 0;
      padding: 0 40px;
   }
}
@media (max-width: 768px) {
   .container {
      padding: 0 16px;
   }
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
svg {
   width: 100%;
   height: auto;
}
main {
   overflow: hidden;
}
@keyframes animateLoaderLogo {
   0% {
      transform: translateY(0) rotate(0);
   }
   12% {
      transform: translateY(-100px) rotate(45deg);
   }
   25% {
      transform: translateY(0) rotate(90deg);
   }
   37% {
      transform: translateY(-100px) rotate(135deg);
   }
   50% {
      transform: translateY(0) rotate(180deg);
   }
   62% {
      transform: translateY(-100px) rotate(225deg);
   }
   75% {
      transform: translateY(0) rotate(270deg);
   }
   87% {
      transform: translateY(-100px) rotate(315deg);
   }
   100% {
      transform: translateY(0) rotate(360deg);
   }
}
@keyframes animateStar {
   0% {
      top: 0;
      left: 10px;
   }
   25% {
      top: 0;
      left: -80px;
   }
   25.001% {
      top: 200px;
      left: -80px;
   }
   25.002% {
      top: 200px;
      left: 190px;
   }
   25.003% {
      top: 0;
      left: 190px;
   }
   50% {
      top: 0;
      left: 130px;
   }
   75% {
      top: 0;
      left: 70px;
   }
   100% {
      top: 0;
      left: 10px;
   }
}

/* Лоадер */
.loader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--loader-bg);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all 0.2s;
   z-index: 100;
}
.loader.hide {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index: -100;
}
.loader__logo {
   width: 40px;
   height: 40px;
   animation: animateLoaderLogo 3s ease-in-out infinite forwards;
}
.loader__place {
   width: 180px;
   border-top: 2px solid var(--loader-place);
   position: relative;
   overflow: hidden;
   height: 100px;
}
.loader__star {
   width: 70px;
   height: 70px;
   transform: rotate(45deg);
   position: absolute;
   top: 0;
   left: 10px;
   animation: animateStar 3s linear infinite forwards;
}

/* Шапка */
.header {
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding-top: 20px;
}
.header__inner {
   height: 100%;
}
.header__nav {
   height: 100%;
   display: flex;
   padding: 12px;
   gap: 8px;
   border-radius: var(--border-radius);
   background: var(--el-bg);
   box-shadow: var(--box-shadow);
}
.header__btn {
   flex: 1;
   border-radius: calc(var(--border-radius) + 12px);
   background: none;
   transform: scale(1);
   font-weight: 600;
   transition:
      background-color 0.1s,
      transform 0.2s;
}
.header__btn:hover {
   background: rgba(0, 0, 0, 5%);
}
.header__btn:active {
   background: rgba(0, 0, 0, 5%);
   transform: scale(0.98);
}
.header__btn.active {
   background: var(--accent);
   color: var(--el-bg);
}

/* Основной контент */
.main {
   padding: calc(var(--header-height) + 20px) 0;
}

.main__inner canvas {
   width: 100%;
   height: 600px;
   border-radius: 32px;
   box-shadow: var(--box-shadow);
   background: var(--el-bg);
}
